html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background-color: LightGray;
}
div {
	border:1px solid Chocolate;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.top-navigation > .content {
    height: 70px;
    padding: 0px 15px;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.logo {
	margin-top: 15px;
}
.introduction {
	background-image: url(/users/kaven/Projects/startup-landing-page-clone/images/first-background.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 664px;
	color: white;
}
.content {
	width: 970px;
    margin: 0 auto;
}
.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}
.introduction h1, .introduction h3 {
	text-align: center;
	font-weight: 300;
}
button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	width: 0px 53px;
	background-color: #f15a29;
	font-size: 1.125rem;
	color: white;
	display: block;
	margin: 0 auto;
	text-align: center;
}
button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}
.cases .devices {
	width: 33%;
	display: inline-block;
	/*styles to assist with debugging */
	border: 1px solid black;
	box-sizing: border-box;
	height: 4em
}
.cases {
	display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
	display: -ms-flexbox;           /* TWEENER - IE 10 */
	display: -webkit-flex;          /* NEW - Chrome */
	display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	background-color: white;
	color: black;
	height: 550px;
	text-align: center;
	margin-top: 80px;
 }
.cases h2{
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
}
.cases h3{
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5 rem 0px 1.875rem;
}