body {
	background-color: LightGray;
}
div {
	border:1px solid Chocolate;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}
.top-navigation > .content {
	width: 100%;

	height: 70px;
	margin 0 auto;
}